<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>cicloVida</servlet-name>
        <servlet-class>CicloVida</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>jodeilson</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>cicloVida</servlet-name>
        <url-pattern>/vida</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>admin</param-name>
        <param-value>luan</param-value>
    </context-param>
</web-app>